.container {
    margin: 3rem auto 0;
    padding: 1rem;
    width: 80%;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid grey;
}

.button {
    padding: 0.5rem;
    width: 20%;
    margin-left: auto;
    border-radius: 5px;
    border: none;
    background-color: #099;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
}
