.container {
    width: 80%;
    margin: 2rem auto 0;
}

.container ul {
    list-style: none;
    padding: 0.75rem;
}

.container li {
    padding: 0.5rem;
    margin: 0.25rem;
    border: 1px solid grey;
}